<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{!-- {{#if message == "Login successfully!!!"}}
    <h1>{{ this }}</h1>
{{/if}} --}}
<button onclick="return welcome();">Click Me</button>
<br />
<button onclick="return setGreen();">Set Green</button>
<br />
<button onclick="return setBlue();">Set Blue</button>