<form action="/" method="post">
    <fieldset>
        <legend>
            User Login
        </legend>
        Username: <input type="text" name="username" id="">
        <br><br>
        Password <input type="password" name="password" id="">
        <input type="submit" value="Login">
    </fieldset>
</form>